/** @format */
.form-cont,
.form-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
 }

#form-nav {
  color: red;
  padding: 10px 0 0 20px;
  pointer-events:stroke;
}
.form-cont {
 width: 80%;
 padding: auto;
}

h1{
 color: white;
 font-size: xx-large;
 text-align: center;
 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 font-variant-caps: all-petite-caps;
}

#form-info-text {
 color:white;
 text-align: center;
 font-variant-caps: small-caps;
 font-size: small;
 font-family:cursive ;
}
span{
 color:gold;
 opacity: 80%;
 text-align: center;
 font-variant-caps: small-caps;
}

form{
  width: 90%;
  gap: 40px;
  display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 10px;
    gap: 10px;
  }

.form-input{
 width: 80%;
 height: 35px;
 border:none;
 border-radius: 40px;
 display: block;
 margin:10px auto;
 padding: 0 10px;
 font-size: 16px;
 font-weight: bolder;
 padding:0  10px;
 text-indent: 3%;
}
select{
  width: 85%;
  height: 35px;
  border:none;
  border-radius: 40px;
  display: block;
  font-size: 16px;
  padding: 10px;
  text-indent: 4%;
  margin:5px auto;
  font-weight: bolder;
}
::placeholder{
  font-size: 16px;
  padding: 10px;
  opacity: 80%;
}
option{
  color: red;
  font-size: small;
font-weight: 600;
}

 #form-btn{
   width: 40%;
   font-size: 18px;
   color: black;
   background-color: gold;
   border: 1px red solid;
  font-weight: 600;
}
 