         <div className='quest-body'>
     <div id='quest-no'>
     Q. {all.No} <span> Time - 3 : 30
     </span>
     </div>
      <div  className='quest-cont'>   
          <p id='question'>
       who was the first man to be on the Moon?
       </p>
      </div>
      <div>

      <div className='quest-cont'>
  <p id='quest-info'>Please select your preferred contact method:</p>

<form id="options">
  <div className='option'>
    <input type="radio" id="Choice1"
     name="contact" value="John Smith "  />
    <label htmlFor="Choice1"> <b className='opt-letter'>a.</b> John Smith </label>
    </div>

     <div className='option'>
    <input type="radio" id="Choice2"
     name="contact" value="Neil Armstrong "  />
    <label htmlFor="Choice2"> <b className='opt-letter'>b.</b>  Neil Armstrong </label>
     </div>

     <div className='option'>
    <input type="radio" id="Choice3"
     name="contact" value="Neil Smith "  />
<label htmlFor="Choice3"><b className='opt-letter'> c.</b> Neil Smith </label>
  </div>
  
     <div className='option'>
    <input type="radio" id="Choice4"
     name="contact" value="Armstrong Smith "  />
<label htmlFor="Choice4"><b className='opt-letter'> d.</b>  Armstrong Smith </label>
  </div>
  <div>
  </div>
</form>
</div>
       </div>
<div className='quest-cont'>
  <div id='question-list'>
<button className="question-num" >1</button>
<button className="question-num" >2</button>
<button className="question-num" >3</button>
<button className="question-num" >4</button>
<button className="question-num" >5</button>
<button className="question-num" >6</button>
<button className="question-num" >7</button>
<button className="question-num" >8</button>
<button className="question-num" >9</button>
<button className="question-num" >10</button>
<button className="question-num" >11</button>
<button className="question-num" >12</button>
<button className="question-num" >13</button>
<button className="question-num" >24</button>
<button className="question-num" >25</button>
<button className="question-num" >26</button>
<button className="question-num" >27</button>
<button className="question-num" >28</button>
<button className="question-num" >29</button>
<button className="question-num" >20</button>
<button className="question-num" >21</button>
<button className="question-num" >22</button>
<button className="question-num" >23</button>
<button className="question-num" >24</button>
<button className="question-num" >25</button>
<button className="question-num" >26</button>
<button className="question-num" >27</button>
<button className="question-num" >28</button>
<button className="question-num" >29</button>
<button className="question-num" >30</button>
<button className="question-num" >31</button>
<button className="question-num" >32</button>
<button className="question-num" >33</button>
<button className="question-num" >34</button>
<button className="question-num" >35</button>
<button className="question-num" >36</button>
<button className="question-num" >37</button>
<button className="question-num" >38</button>
<button className="question-num" >39</button>
<button className="question-num" >40</button>
<button className="question-num" >41</button>
<button className="question-num" >42</button>
<button className="question-num" >43</button>
<button className="question-num" >44</button>
<button className="question-num" >45</button>
<button className="question-num" >46</button>
<button className="question-num" >47</button>
<button className="question-num" >48</button>
<button className="question-num" >49</button>
<button className="question-num" >50</button>
  </div>
</div>

<div className='quest-cont' id='quest-foot'>
<svg xmlns="http://www.w3.org/2000/svg" width="38.562" height="39.233" viewBox="0 0 38.562 39.233">
  <path id="Polygon_1" data-name="Polygon 1" d="M17.5,0,35,35H0Z" transform="matrix(-0.017, -1, 1, -0.017, 1.536, 37.429)" fill="none" stroke="#fff" strokeLinecap="square" strokeLinejoin="bevel" strokeWidth="4" strokeDasharray="5"/>
</svg>
<button id="quest-btn" onClick={()=>click('details')}> countinue </button>
<svg xmlns="http://www.w3.org/2000/svg" width="38.562" height="39.233" viewBox="0 0 38.562 39.233">
  <path id="Polygon_8" data-name="Polygon 8" d="M17.5,0,35,35H0Z" transform="matrix(-0.017, 1, -1, -0.017, 37.636, 2.434)" fill="none" stroke="#fff" strokeLinecap="square" strokeLinejoin="bevel" strokeWidth="4" strokeDasharray="5"/>
</svg>



</div>
</div>
